@import '../breakpoints.scss';
.Landing{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #F8F8FF;
    .navbar{
        width: 100%;
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #78ff7a00;
        position: fixed;
        transition: .5s;
        cursor: pointer;
        z-index: 100;

        @include sm{
           height: auto;
           background-color: #009860;
        }
        @include md{
           
        }
        @include lg{

        }
        @include xl{
           
        }
        @include breakpoint(1200px){
        
        }

        .logo{
            margin-left: 2em;
            img{
                width: 5em;
                height: 5em;
                object-fit: cover;
            }

        }

        &:hover{
            background-color: #78ff7a8c;
        }

       

        .elements{
            
        @include sm{
            
           
        }
        @include md{
        
        }
        @include lg{

        }
        @include xl{
           
        }
        @include breakpoint(1200px){
        
        }
            ul{
            display: flex;
            align-items: center;
            justify-content: space-around; 
            list-style: none;
            gap: 1.5em;

            @include sm{
               gap: .5em;
               flex-direction: column;
            }
            @include md{
               
            }
            @include lg{
    
            }
            @include xl{
               
            }
            @include breakpoint(1200px){
            
            }

    

            li{
                padding: 12px;
                color: #000000;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .2em;
                cursor: pointer;
                 
                &:hover{
                   color: #fff;
                   background-color: rgb(0, 152, 96); 
                   border: 1px solid #009860;
                   border-radius: 5px;
                }
            }
            }
        }
        .icons{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            color: #fff;
            margin-right: 1em;
            @include sm{
                
             }
             @include md{
              
             }
             @include lg{

             }
             @include xl{
             }
             @include breakpoint(1200px){
               
             } 
        }
    }


    .carousel{
        width: 100%;
        min-height: 90vh;
        img{
            width: 100%;
            height: 100vh;
            object-fit: cover;
            
        }
        .overlay{
            position:absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 255, 0, 0), rgba(0, 255, 0, 0));
            opacity: .5;
        }

        .carouselContent{
            width: 80%;
            height: 20vh;
            position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);

                @include sm{
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                  }
                  @include md{
                     
                  }
                  @include lg{
          
                  }
                  @include xl{
                     
                  }
                  @include breakpoint(1200px){
                  
                  }
            hr{
                width: 40%;
                color: #000000;
            }
            h2{
                width: 100%;
                font-size: 48px;
                font-weight: 800;
                color: #ffffff;
            }
            p{
                width: 40%;
                font-size: 24px;
                font-weight: 600;
                color: #000;
            }
            a{
                margin-top: 2em;
                padding: 10px 30px 10px 30px;
                text-decoration: none;
                background-color: #009860;
                border: 1px solid #009860;
                cursor: pointer;
                border-radius: 10px;
                color: #fff;
                font-size: 14px;
                font-weight: 800;

                &:hover{
                    background-color: #015234;
                    border: 1px solid #015234;
                }
            }
        }
    }


    .Services{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        // background-image: linear-gradient( to bottom right ,#F8F8FF 80%,rgba(0, 255, 0, 0.342) 20%);

        h2{
            font-size: 42px;
            font-weight: 800;
            color: #009860;

            @include sm{
              font-size: 28px;
            }
            @include md{
               
            }
            @include lg{
    
            }
            @include xl{
               
            }
            @include breakpoint(1200px){
            
            }
            
        }

        .servicesContainer{
            width: 80%;
            display: grid;
            margin-top: 2em;
            grid-gap: 6em;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            align-items: center;
            justify-content: center;
            

            .SubContainer{
                width: 100%;
                min-height: 33em;
                display: flex;
                align-items: start;
                justify-content: start;
                flex-direction: column;
                background-color: #ffffff;
                border: 1px solid #009860;
                border-radius: 10px;
                transition: .5s;


                img{
                    width: 100%;
                    height: 15em;
                    object-fit: cover;
                    border-radius: 10px;
                }
                .content{
                    padding: 10px;
            
     

                    h5{
                        text-align: center;
                        font-size: 16px;
                        color: #009860;
                        font-weight: 800;

                      
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .about{
        width: 100%;
        min-height: 50vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(../Assets/logo-removebg-preview.png);
       
        .content{
            width: 80%;
            height: auto;
            text-align: center;
            
            h2{
                font-size: 42px;
                font-weight: 800;
                color: #009860;
                
                @include sm{
                  font-size: 28px;
                 }
                 @include md{
                    
                 }
                 @include lg{
         
                 }
                 @include xl{
                    
                 }
                 @include breakpoint(1200px){
                 
                 }
            }
            p{
                font-size: 20px;
                font-weight: 500;
                @include sm{
                  font-size: 14px;
                }
                @include md{
                   
                }
                @include lg{
        
                }
                @include xl{
                   
                }
                @include breakpoint(1200px){
                
                }
            }
        }
    }

    .statics{
        width: 100%;
        height: 20vh;
        background-color: #009860;
        display: flex;
        align-items: center;
        justify-content: center;
        @include sm{
            flex-direction: column;   
        }
        @include md{
           
        }
        @include lg{

        }
        @include xl{
           
        }
        @include breakpoint(1200px){
        
        }
        .content-container{
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            h1{
                font-size: 28px;
                @include sm{
                    font-size: 24px;  
                }
                @include md{
                   
                }
                @include lg{
        
                }
                @include xl{
                   
                }
                @include breakpoint(1200px){
                
                }
            }

            @include sm{
                flex-direction: column;   
            }
            @include md{
               
            }
            @include lg{
    
            }
            @include xl{
               
            }
            @include breakpoint(1200px){
            
            }
        }
    }
   
    .team{
        width: 100%;
        min-height: 150vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        background-color: #78ff7a;

        h2{
            font-size: 42px;
            font-weight: 800;
            color: #009860;
            
        }

        .teamContainer{
            width: 80%;
            display: grid;
            margin-top: 2em;
            grid-gap: 3em;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            align-items: center;
            justify-content: center;
            text-align: center;

            .TeamSubcontainer{
                width: 100%;
                min-height: 30em;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 10px;
                transition: .5s;
                img{
                    width: 100%;
                    height: 35em;
                    object-fit: cover;
                    border-radius: 10px;
                }

                h4{
                    font-size: 22px;
                    text-align: center;
                    color: #009860;
                }

                    h5{
                        text-align: center;
                        font-size: 16px;
                        font-weight: 800;                      
                    }
                    
                
            }
        }
    }

    .testimonials{
        width: 100%;
        min-height: 45vh;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        // background-image: linear-gradient( to top right ,#F8F8FF 80%,rgba(0, 255, 0, 0.342) 20%);
        h2{
            font-size: 42px;
            font-weight: 800;
            color: #009860;
            @include sm{
                font-size: 28px;  
            }
            @include md{
               
            }
            @include lg{
    
            }
            @include xl{
               
            }
            @include breakpoint(1200px){
            
            }
        }
        .testimonialsContainer{
            width: 80%;
            display: grid;
            grid-gap: 2em;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            align-items: center;
            justify-content: center;
            text-align: center;
            
            .testimonialsubcontiner{
                width: 100%;
                min-height: 25em;
                margin-top: 2em;
                padding: 2em;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 10px;
                transition: .5s;
                background-color: #78ff7a;
                color: #000;


                img{
                    width: 5em;
                    height: 5em;
                    border:1px solid #009860;
                    border-radius: 50%;
                    object-fit: cover;
                }
                
                .testimonialscontent{
                    h5{
                        text-align: center;
                        font-size: 16px;
                        font-weight: 800;  
                    }
                }
            }
        }
    }

    .insuarance{
        width: 100%;
        min-height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 3em;  
        h2{
            font-size: 42px;
            font-weight: 800;
            color: #009860;
            
        }

        .insuaraceContainer{
            width: 90%;
            height: auto;
            display: grid;
            align-items: center;
            justify-content: center;
            gap: 2em;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            text-align: center;
                
            .imageContiner{
            width: 90%;
            height: auto;
            display: grid;
            align-items: center;
            justify-content: center;
            gap: 2em;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            text-align: center;
                h2{
                    font-size: 42px;
                    font-weight: 800;
                    color: #009860;
                    
                }
        
                img{
                    width: 20em;
                    object-fit: cover;
                }
            }
        }
    }

    .appointment{
        position: relative;
        height: 50vh;
        video{
            width: 100%;
            height: 100%;
            image-resolution: 1080;
            object-fit: cover;
        }
        h2{
            position: absolute;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 40px;
            @include sm{
                font-size: 24px; 
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @include md{
               
            }
            @include lg{
    
            }
            @include xl{
               
            }
            @include breakpoint(1200px){
            
            }
        }
    }

    .footer{
        width: 100%;
        min-height: 30vh;
        background-color: #009860;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @include sm{
            flex-direction: column;
        }
        @include md{
           
        }
        @include lg{

        }
        @include xl{
           
        }
        @include breakpoint(1200px){
        
        }

        

        .footerNav{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @include sm{
        
            }
            @include md{
               
            }
            @include lg{
    
            }
            @include xl{
               
            }
            @include breakpoint(1200px){
            
            }

            h4{
                font-size: 22px;
                color: #fff;
                
            }
            ul{
                li{
                    list-style: none;
                    font-size: 16px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    cursor: pointer;
                    gap: 1em;

                    @include sm{
                        top: 50%;
                        left: 15%; 
                    }
                    @include md{
                       
                    }
                    @include lg{
            
                    }
                    @include xl{
                       
                    }
                    @include breakpoint(1200px){
                    
                    }
    
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
        .working{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @include sm{
               align-items: start;
               justify-content: flex-start;
            }
            @include md{
               
            }
            @include lg{
    
            }
            @include xl{
               
            }
            @include breakpoint(1200px){
            
            }
            h4{
                font-size: 22px;
                color: #fff;
            }
            ul{
                li{
                    list-style: none;
                    font-size: 16px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    cursor: pointer;
                    gap: 1em;
   
                }
            }
        }
        .location{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h4{
                font-size: 22px;
                color: #fff;
            }
            ul{
                li{
                    list-style: none;
                    font-size: 16px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    cursor: pointer;
                    gap: 1em;
                    flex-wrap: wrap;
    
                    .navicon{
                        font-size: 36px;
                        font-weight: 400;
                    }
    
                }
            }
        }

    }


}