@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.App {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.App::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}